apps/crawler/savetweets/*

apps/scripts/t.mjs
apps/scripts/save_spaces/
apps/backend/cache/*
!apps/backend/cache/.gitkeep

apps/archiver/*/
apps/archiver/screen_name.txt

libs/assets/setting.mjs
libs/assets/config.json
libs/assets/sagm_config.cjs
libs/assets/analytics/account.json

apps/cfworkers/dist/

!apps/crawler/savetweets/.gitkeep

.DS_Store
node_modules
.yarn
yarn.lock
/dist
public/test/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

stats.html