apps/crawler/savetweets/*

apps/scripts/t.mjs
apps/scripts/save_spaces/
apps/scripts/astParser/
apps/backend/cache/*
apps/open_account/scripts/openAccount.json
!apps/backend/cache/.gitkeep

apps/archiver/*
!apps/archiver/archive.mjs
!apps/archiver/archive_lite.mjs
!apps/archiver/init.ps1
!apps/archiver/init.sh
!apps/archiver/README.md
!apps/archiver/retryMedia.mjs

libs/assets/setting.mjs
libs/assets/config.json
libs/assets/sagm_config.cjs
libs/assets/analytics/account.json

apps/cfworkers/dist/

!apps/crawler/savetweets/.gitkeep

packages/get-mime/*
!packages/get-mime/index.js
!packages/get-mime/package.json

.DS_Store
node_modules
.yarn
/dist
public/test/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

stats.html