<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="robots" content="nofollow">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="/static/img/icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Banka2017 (https://bangdream.fun)">
        <meta name="description" content="Twitter Monitor">
        <meta name="keywords" content="Twitter, Monitor, Twitter Monitor">
        <title>Twitter Monitor</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet preload" as="style">
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
                <span class="navbar-brand mb-0 h1">Twitter</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown" v-for="(values, key) in names[project]">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :href="`#`+$route.path">
                                {{ key }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div v-for="value in values">
                                    <router-link :to="`/`+value.name+`/all`" :class="`dropdown-item `+(value.name ? '' : 'disabled')">{{ value.display_name }}</router-link>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="my-4"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div v-if="search && search_type == 'text'">
                            <div class="card">
                                <div class="card-body">
                                    <h3>搜索</h3>
                                </div>
                            </div>
                            <div class="my-4"></div>
                        </div>
                        <div v-else-if="!hash && info!=null">
                            <div v-if="!init">
                                <div class="card">
                                    <img v-if="info && info.banner!=0" class="card-img-top" :src="`./media/https://pbs.twimg.com/profile_banners/`+info.uid+`/`+info.banner+`.banner.jpg`" alt="Banner">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4" style="max-height:100px;max-width:100px;">
                                                    <img v-if="info && info.header" class="rounded-circle img-fluid" :src="`./media/https://pbs.twimg.com/profile_images/`+info.header" alt="Header">
                                                    <div class="my-4"></div>
                                                </div>
                                                <div class="col-md-8">
                                                    <h5 class="card-title mt-0"><b>{{ info.display_name }}</b></h5>
                                                    <p><small><a :href="`//twitter.com/`+info.name" target="_blank" class="text-dark">@{{ info.name }}</a></small></p>
                                                    <div v-html="`<p class='card-text'>`+info.description+`</p>`"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-4"></div>
                                    <b v-if="info">{{ info.following }}</b> 正在关注
                                <div class="my-4"></div>
                                    <b v-if="info">{{ info.followers }}</b> 个关注者
                                <div class="my-4"></div>
                                    <b v-if="info">{{ info.statuses_count }}</b> 合计推文数
                                <div class="my-4"></div>
                            </div>
                            <div v-else class="text-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <div class="card">
                                <div class="card-body">
                                    <router-link :to="`/tag/`+hash"><h3>#{{ hash }}</h3></router-link>
                                </div>
                            </div>
                            <div class="my-4"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="search">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="搜索..." aria-describedby="search" v-model="search" v-if="search_type == 'text'">
                                <input type="date" class="form-control" aria-describedby="search" v-model="search" v-if="search_type == 'date'">
                                <div class="input-group-append" v-if="!hash||search">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">搜索模式</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" @click="search_type = searchType[1];search = null" type="button" v-for="searchType in [['文字搜索', 'text'], ['日期搜索', 'date']]">{{ searchType[0] }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card" v-if="search && search.toLowerCase() == 'help' || search === '帮助'">
                                <div class="card-body">
                                    <h5 class="card-title">帮助</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">搜索快速入门</h6>
                                    <div v-for="tip in tips">
                                        <div v-html="tip"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group" v-if="search && search.slice(0, 1) != '!' && search_type == 'text'">
                            <a :href="`#/project/`+search_user.project+`/`+search_user.name+`/all`" class="list-group-item list-group-item-action" v-for="search_user in findUser(search.toString().slice(1).toLowerCase(), names)"><b>{{ search_user.display_name }}</b> | <small>@{{ search_user.name }}</small> > <small>{{ search_user.project }}</small></a>
                            <a :href="`#/tag/`+search.slice(1)" class="list-group-item list-group-item-action" v-if="search.slice(0, 1) === '#'">查找标签 {{ search }}</a>
                            <a :href="`#/`+name+`/status/`+search" class="list-group-item list-group-item-action" v-if="search > 0 && search.match(/[0-9]+/g)[0] === search">查找推文 {{ search }}</a>
                            <a :href="`#/search/`+search" class="list-group-item list-group-item-action" v-if="search_type == 'text' && search.slice(0, 1) != '#'"><span class="d-inline-block text-truncate" style="max-width: 250px;">搜索项目 {{ search }}</span></a>
                        </div>
                        <div class="my-4"></div>
                        <nav class="nav nav-pills nav-fill">
                            <li class="nav-item" v-if="!(hash||search)" v-for="value in [['全部', 'all'], ['原创', 'self'], ['转推', 'retweet'], ['媒体', 'media']]">
                                <a :class="`nav-link `+(value[1] == display ? 'active' : '')" :href="`#/`+name+`/`+value[1]" @click="display == value[1] ? loading(tweets[info.top && display=='all' ? 1 : 0].tweet_id, 'refresh') : display = value[1]">{{ value[0] }}</a>
                            </li>
                            <li class="nav-item">
                                <a :class="`nav-link `+(picture ? 'active' : '')" :href="`#`+$route.path" @click="picture = !picture">无图</a>
                            </li>
                        </nav>
                        <hr class="my-4">
                        <div v-if="refresh" class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="my-4"></div>
                        </div>
                        <div v-if="!init">
                            <div v-if="tweets.length">
                                <div v-for="(tweet, ids) in tweets">
                                    <div v-if="tweet.type == 'msg'" class="text-center">
                                        {{ tweet.full_text }}
                                    </div>
                                    <div v-else>
                                        <div v-if="tweet.retweet_from" class="alert alert-info">转自 {{ tweet.retweet_from }}</div>
                                        <div :class="`card card-border`+((!$route.params.status && tweet.tweet_id == info.top) ? ' border-primary' : '')" :id="tweet.tweet_id">
                                            <div class='card-body'>
                                                <p v-if="tweet.tweet_id == info.top"><small class="text-muted">置顶推文</small></p>
                                                <a :href="`#/`+tweet.name+`/all`" class="card-title text-dark">
                                                    {{ tweet.display_name }}
                                                </a>
                                                 | <small>@{{ tweet.name }}</small>
                                                   <span class="badge badge-success" v-if="tweet.media.length">Media</span>
                                                   <span class="badge badge-danger" v-if="tweet.hasvideo">Video</span>
                                                   <span class="badge badge-info" v-if="tweet.hasgif">GIF</span>
                                                <div class="my-4"></div>
                                                <div v-html="`<p class='card-text'>`+tweet.full_text+`</p>`"></div>
                                                <div v-if="!tweet.translate" class='card-text'>
                                                    <a :href="`#`+$route.path" class="text-decoration-none"><small style="color:#1DA1F2" @click="translate(tweet.tweet_id,ids)">翻译推文</small></a>
                                                </div>
                                                <div v-else-if="tweet.translate=='pending'" class="spinner-grow spinner-grow-sm" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                                <div v-else>
                                                    <hr class="my-4">
                                                    <p class='card-text'><small class="text-muted">由 {{ tweet.powerby }} 翻译</small></p>
                                                    <p v-if="tweet.translate" v-html="`<p class='card-text'>`+tweet.translate+`</p>`"></p>
                                                </div>
                                                <!--pic-->
                                                <div v-if="!picture">
                                                    <div class="my-4" v-if="tweet.media.length"></div>
                                                    <div :class="tweet.media.length > 1 ? `card-columns` : ''">
                                                        <a class="card" v-for="(media, s) in tweet.media" :href="`#`+$route.path" @click="largePicture=[s, tweet.media, media.origin.origin_type === 'photo' ? 'picture' : 'video'];$('#largePicture').modal()">
                                                            <img :src="`./media/`+media.cover.thumb_img_url+(tweet.media.length>1 ? ':360' : ':medium')" class="card-img-top card-img img-fluid rounded" width="100%" data-toggle="modal">
                                                            <div class="card-img-overlay" v-if="media.origin.origin_type != 'photo'">
                                                                <span class="badge badge-secondary" v-if="media.origin.origin_type === 'animated_gif'">GIF</span>
                                                                <span class="badge badge-secondary" v-else>VIDEO</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <small class="text-muted">{{ tweet.time }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-block" @click="loading(tweet_id)" v-if="hasmore&&!load">
                                    <span>加载更多</span>
                                </button>
                                <div v-else-if="load" class="text-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div v-else>
                                    <h5 class="text-center">已经没有更多内容</h5>
                                </div>
                            </div>
                            <div v-else>
                                <h5 class="text-center">已经没有更多内容</h5>
                            </div>
                        </div>
                        <div v-else class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="my-4"></div>
                        
                        <!--media-->
                        <div class="modal fade" id="largePicture" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div id="largePictureControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div :class="`carousel-item`+(s == largePicture[0] ? ` active` : '')" v-for="(media, s) in largePicture[1]" v-if="largePicture[2]=='picture'">
                                                <img :src="`./media/`+media.cover.thumb_img_url+`:large`" class="d-block w-100">
                                            </div>
                                            <div v-if="largePicture[2]=='video'">
                                                <video :src="`./media/`+largePicture[1][largePicture[0]].origin.url" class="img-fluid" :poster="`./media/`+largePicture[1][largePicture[0]].cover.thumb_img_url+`:medium`" :type="largePicture[1][largePicture[0]].origin.content_type" autoplay controls muted width="100%"></video>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#largePictureControls" role="button" data-slide="prev" v-if="largePicture[2]=='picture'">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#largePictureControls" role="button" data-slide="next" v-if="largePicture[2]=='picture'">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a :href="`#/`+project.name+`/all`" class="text-decoration-none badge badge-pill badge-primary" v-for="project in projects">{{ project.display_name }}</a>
                        <hr class="my-4">
                        <h5>相关链接</h5>
                            <a href="https://ailand.date" target="_blank" class="badge badge-pill badge-primary">♥BANKA</a>
                        <div class="my-4"></div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary fixed-button" style="opacity: 0.8;position: fixed;bottom: 0;right: 0" @click="scrollToTop()">Top</button>
        </div>
        <!--load css and js-->
        <link rel="stylesheet" href="/static/css/noty.css">
        <script src="/static/js/vue.min.js"></script>
        <script src="/static/js/vue-router.js"></script>
        <script src="/static/js/axios.min.js"></script>
        <script src="/static/js/jquery.slim.min.js"></script>
        <script src="/static/js/fastclick.js"></script>
        <script src="/static/js/noty.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script>
            'use strict';
            var bgfun = new Vue({
                el: "#app",
                data: {
                    name: '',
                    project: '',
                    hash: null,
                    info: [],
                    tweets: [],
                    tweet_id: 0,
                    display: 'all',
                    search: null,
                    search_type: 'text',
                    picture: false,
                    largePicture: [0, [], ''],
                    load: false,
                    refresh: false,
                    init: true,
                    firstload: true,
                    hasmore: true,
                    tips: [
                        '<li>首字符为<code>@</code>可以快速定位到当前企划的任何用户，支持twitter用户名及本地别名</li>',
                        '<li>首字符为<code>#</code>可定位tag，此功能适用于全站</li>',
                        '<li>在输入框输入任何内容可进行对推文的搜索，此功能适用于全站</li>',
                        '<li>任何时候在输入框输入<code>help</code>、<code>帮助</code>可弹出此教程</li>',
                    ],
                    projects: {
                        Twitter: {name: 'Twitter', display_name: 'Twitter'},
                    },
                    names: [],
                    nsfwList: [
                            
                        ],
                },
                router: new VueRouter({
                    routes: [
                        {
                            path: '/project/:project',
                            children: [
                                {path: ''},
                                {path: ':name/:display'},
                                {path: ':name/status/:status'}
                            ]
                        },{
                            path: '/tag/:hash',
                        },{
                            path: '/search/:search',
                        },{
                            path: '/:name',
                            children: [
                                {path: ''},
                                {path: ':display'},
                                {path: 'status/:status'}
                            ]
                        }
                    ]
                }),
                watch: {
                    "$route": function() {
                        if(!this.$route.params.search){
                            this.search = null,
                            this.hash = null,
                            this.update();
                            this.scrollToTop();
                        }else{
                            this.update();
                        }
                    },
                    "search": function() {
                        if(this.search){
                            this.scrollToTop();
                            if(this.search_type == 'date'){
                                this.update();
                            }
                        }else{
                            this.$route.params.search = null;
                            this.update();
                        }
                    },
                    "name": function(){
                        if(this.nsfwSearcher(this.name)){
                            this.noty('本twitter账号可能会含有<abbr title="Not safe for work">NSFW</abbr>内容', 'warning');
                        }
                    },
                    "info": function(){
                        //バンドリ！ BanG Dream! 公式 (@bang_dream_info) / Twitter
                        document.title = this.info.display_name + ' (@' + this.info.name + ') / Twitter Monitor';
                    }
                },
                mounted: function() {
                    let startTime = Date.now();
                    axios.get('names.json').then(response => {
                        this.names = response.data;
                        if(Date.now() - startTime > 1000){
                            this.picture = true;
                            this.noty('当前网速较慢，已关闭图片显示', 'information');
                        }
                        this.project = Object.keys(this.names)[0];
                        this.name = this.names[this.project][Object.keys(this.names[this.project])[0]][0].name;//此处需保证第一个账号必须不为空
                        this.update();
                    }).catch(error => {
                        this.noty('加载失败，请稍后再试 #' + error, 'error');
                    });
                },
                methods: {
                    loading: function(tweet_id = 0, type = 'load') {
                        if(type != 'load'){
                            this.refresh = true;
                        }else{
                            this.load = true;
                        }
                        let url;
                        let url_add = '';
                        if(type != 'load'){
                            url_add = "&type=refresh";
                        }else if(this.search && this.search_type === 'date'){
                            url_add = "&date=" + (Date.parse(this.search+' UTC+8') / 1000);
                        }
                        if(!this.hash){
                            url = 'api/?m=tweets&name=' + this.name + '&tweet_id=' + tweet_id + '&display=' + this.display + url_add;
                        }else if(!this.hash && this.search && this.search_type === 'text'){
                            url = 'api/?m=search&q=' + this.search.toString() + '&tweet_id=' + this.tweet_id + '&project=' + this.project;
                        }else{
                            url = 'api/?m=tag&hash=' + this.hash + '&tweet_id=' + this.tweet_id + '&project=' + this.project;
                        }
                        axios.get(url).then(response => {
                            if(type != 'load'){
                                this.tweets = response.data.data.data.concat(this.tweets);
                                this.refresh = false;
                                let dataLength = response.data.data.data.length;
                                this.noty(dataLength ? '加载完成，共加载' + dataLength + "条记录" : "没有更新", dataLength ? 'success' : 'information');
                            }else{
                                this.hasmore = response.data.data.hasmore;
                                this.tweets = this.tweets.concat(response.data.data.data);
                                this.tweet_id = response.data.data.tweet_id;
                                this.load = false;
                            }
                        }).catch(error => {
                            this.noty('加载失败，请稍后再试 #' + error, 'error');
                            this.load = false;
                            this.refresh = false;
                        });
                    },
                    update: function() {
                        this.init = true;
                        this.hasmore = true;
                        this.tweets = [];
                        if(this.$route.params.project || this.$route.path == '/' || this.$route.path == '/'+this.name){
                            if(this.$route.params.project){
                                this.project = this.$route.params.project.toLowerCase();
                            }
                            this.$router.replace({ path: '/' + this.projects[this.project].name + '/all' });
                            return;
                        }
                        let url;
                        let url_add = '';
                        if(this.$route.params.status){
                            url_add = "&status=" + this.$route.params.status;
                        }
                        if(this.search && this.search_type === 'date'){
                            url_add = "&date=" + (Date.parse(this.search+' UTC+8') / 1000);
                        }
                        if(!this.$route.params.hash && !this.$route.params.search){
                            if((this.$route.params.name || this.$route.path == '/') && !this.search){
                                this.hash = null;
                                if(this.$route.params.project){
                                    if(this.$route.params.project && this.findProject(this.$route.params.project)){
                                        this.name = this.projects[this.$route.params.project.toLowerCase()].name;
                                    }
                                }else{
                                    let findUserInfo = this.findUser(this.$route.params.name, this.names)[0];
                                    if(findUserInfo.name && this.name != findUserInfo.name){
                                        this.project = findUserInfo.project;
                                        this.name = findUserInfo.name;
                                    }
                                }
                                axios.get('api/?m=info&name=' + this.name).then(response => {
                                        this.info = response.data.data;
                                    });
                            }
                            if (this.$route.params.display) {
                                if(this.$route.params.display.toLowerCase() === 'all' || this.$route.params.display.toLowerCase() === 'self' || this.$route.params.display.toLowerCase() === 'retweet' || this.$route.params.display.toLowerCase() === 'media'){
                                    this.display = this.$route.params.display;
                                }
                                
                            }
                            url = 'api/?m=tweets&name=' + this.name + '&display=' + this.display + url_add;
                        }else if(!this.$route.params.hash && this.$route.params.search && this.search_type === 'text'){
                            this.search = this.$route.params.search.toString();
                            url = 'api/?m=search&q=' + this.search + '&project=' + this.project;
                        }else{
                            this.hash = this.$route.params.hash;
                            url = 'api/?m=tag&hash=' + this.hash + '&project=' + this.project;
                            
                        }
                        axios.get(url).then(response => {
                                this.hasmore = response.data.data.hasmore;
                                this.tweets = this.tweets.concat(response.data.data.data);
                                this.tweet_id = response.data.data.tweet_id;
                                this.init = false;
                            }).catch(error => {
                                this.noty('加载失败，请稍后再试 #' + error, 'error');
                            });
                    },
                    translate: function(tweet_id, ids) {
                        this.tweets[ids].translate = 'pending';
                        axios.get('api/?m=translate&tweet_id=' + tweet_id.toString()).then(response => {
                            this.tweets[ids].translate = response.data.data.translate;
                            this.tweets[ids].powerby = response.data.data.powerby;
                        }).catch(error => {
                            this.noty('加载失败，请稍后再试 #' + error, 'error');
                        });
                    },
                    findUser: function(text, names){
                        let users = [];
                        Object.keys(names).forEach(function(secondf){
                            Object.keys(names[secondf]).forEach(function(thirdf){
                                Object.keys(names[secondf][thirdf]).forEach(function(fourthf){
                                    if(names[secondf][thirdf][fourthf]["name"] && (names[secondf][thirdf][fourthf]["name"].toLowerCase() === text.toLowerCase() || names[secondf][thirdf][fourthf]["display_name"] === text)){
                                        users = users.concat({name: names[secondf][thirdf][fourthf]["name"], display_name: names[secondf][thirdf][fourthf]["display_name"], project: secondf});
                                    }
                                })
                            })
                        })
                        return users;
                    },
                    nsfwSearcher: function (name){
                        let danger = false;
                        this.nsfwList.forEach(function(bname) {
                            if(name.toLowerCase() === bname){
                                danger = true;
                            }
                        });
                        return danger;
                    },
                    findProject: function(project){
                        let isProject = false;
                        Object.keys(this.projects).forEach(function(proj){
                            if(proj.name.toLowerCase() === project.toLowerCase()){
                                isProject = true;
                            }
                        })
                        return isProject;
                    },
                    scrollToTop: function () {
                        window.scrollTo({
                            top: 0,
                            behavior: "smooth"
                        }), this.scrollTop = 0
                    },
                    noty: function(text, type='success'){
                        new Noty({
                                timeout: 3000,
                                theme: 'metroui',
                                type: type,
                                text: text,
                            }).show();
                    },
                }
            })
        </script>
        <script>
            $(function() {  
                FastClick.attach(document.body);  
            });
        </script>
    </body>
</html>