<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="robots" content="nofollow">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Banka2017 (https://nest.moe)">
    <meta name="description" content="Twitter Monitor Snowflake Tool">
    <title>Snowflake</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light text-center bg-light "
            style="display: flex; justify-content: space-between;">
            <span class="navbar-brand mb-0 h1">Snowflake</span>
        </nav>
        <div class="my-4"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Snowflake" v-model="snowflake">
                    </div>
                    <div>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row">Created date</th>
                                    <td><code>{{ parsedSnowflakeInfo.creation_time_milli ? new Date(parsedSnowflakeInfo.creation_time_milli) : '' }}</code>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Timestamp</th>
                                    <td><input type="number" min="0" class="form-control"
                                            v-model="parsedSnowflakeInfo.creation_time_milli" placeholder="Timestamp">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Sequence id</th>
                                    <td><input type="number" min="0" max="4095" class="form-control"
                                            v-model="parsedSnowflakeInfo.sequence_id" placeholder="Sequence id"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Machine id</th>
                                    <td><input type="number" min="0" max="1023" class="form-control"
                                            v-model="parsedSnowflakeInfo.machine_id" placeholder="Machine id"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Datacenter id</th>
                                    <td><input type="number" min="0" max="31" class="form-control"
                                            v-model="parsedSnowflakeInfo.datacenter_id" placeholder="Datacenter id">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Server id</th>
                                    <td><input type="number" min="0" max="31" class="form-control"
                                            v-model="parsedSnowflakeInfo.server_id" placeholder="Server id"></td>
                                </tr>
                            </tbody>
                        </table>
                        <code
                            v-if="snowflake"><pre style="color: var(--bs-code-color);">{{ JSON.stringify(parsedSnowflakeInfo, null, 4) }}</pre></code>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="lead">More...</p>
                            <ul>
                                <li><a href="https://blog.nest.moe/posts/about-snowflakes#snowflakes%E7%9A%84%E7%94%B1%E6%9D%A5"
                                        target="_blank" class="end-of-link">Snowflakes的由来</a></li>
                                <li><a href="https://docs.google.com/document/d/1xVrPoNutyqTdQ04DXBEZW4ZW4A5RAQW2he7qIpTmG-M/edit"
                                        target="_blank" class="end-of-link">Reconstructing Twitter's Firehose</a></li>
                                <li><a href="https://github.com/igorbrigadir/twitter-advanced-search#snowflake-ids"
                                        target="_blank"
                                        class="end-of-link">github:igorbrigadir/twitter-advanced-search#snowflake-ids</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-2">
        &gt;_ Twitter Monitor
    </div>
    <!--load css and js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.0"></script>
    <script>
        const { createApp, ref, watch, computed } = Vue

        const baseUnixMilli = 1288834974657

        const Time2SnowFlake = (date = new Date(), datacenter_id = 0, server_id = 0, sequence_id = 0, start = 1288834974657) => {
            const diffDate = (typeof date === 'number' || typeof date === 'bigint' ? date : Date.parse(date)) - start
            if (diffDate < 0) {
                return BigInt(0)
            }
            return (BigInt(diffDate) << BigInt(22)) | BigInt((datacenter_id << 17) | (server_id << 12) | sequence_id)
        }
        const SnowFlake2Time = (snowflake, start = 1288834974657) => {
            let tmpData = {
                creation_time_milli: start,
                sequence_id: 0,
                machine_id: 0,
                server_id: 0,
                datacenter_id: 0
            }
            if (!/^[1-9](\d+|)$/gm.test(snowflake)) {
                return tmpData
            }
            if (typeof snowflake === 'string' || typeof snowflake === 'number') {
                snowflake = BigInt(snowflake)
                // 0
                if (!snowflake) {
                    return tmpData
                }
            }
            // Sequence number
            tmpData.sequence_id = Number(snowflake & BigInt(4095))
            snowflake = Number(snowflake >> BigInt(12))

            // Machine id
            tmpData.machine_id = snowflake & 1023
            tmpData.server_id = tmpData.machine_id & 31
            tmpData.datacenter_id = (tmpData.machine_id >> 5) & 31

            // Time
            tmpData.creation_time_milli += Math.floor(snowflake / 1024)
            return tmpData
        }
        createApp({
            setup() {
                const snowflake = ref('')
                const parsedSnowflakeInfoData = ref({})

                const parsedSnowflakeInfo = computed({
                    get: () => parsedSnowflakeInfoData.value,
                    set: (val) => {
                        parsedSnowflakeInfoData.value = val
                    }
                })
                if (window.location.hash) {
                    snowflake.value = window.location.hash.replace('#', '')
                    parsedSnowflakeInfo.value = SnowFlake2Time(snowflake.value)
                }
                watch(snowflake, (to, from) => {
                    if (to === from) {
                        return
                    }
                    if (/[^\d]/gm.test(snowflake.value)) {
                        snowflake.value = snowflake.value.replaceAll(/[^\d]/gm, '')
                        return
                    }
                    parsedSnowflakeInfo.value = SnowFlake2Time(snowflake.value)
                    window.location.hash = snowflake.value
                })
                watch(parsedSnowflakeInfo, (to, from) => {
                    snowflake.value = Time2SnowFlake(parsedSnowflakeInfo.value.creation_time_milli, parsedSnowflakeInfo.value.datacenter_id, parsedSnowflakeInfo.value.server_id, parsedSnowflakeInfo.value.sequence_id).toString()
                }, { deep: true })

                return { snowflake, parsedSnowflakeInfo }
            }
        }).mount('#app')
    </script>
</body>

</html>